{% extends '@WucdbmMenuBuilderClient/Menu/base.html.twig' %}

{% block content %}

    <div class="row">
        <div class="col-sm-9">
            <div id="menuContainer" data-refresh="{{ path('wucdbm_menu_builder_client_menu_sortable_refresh', {id: menu.id}) }}">
                {% include '@WucdbmMenuBuilderClient/Menu/sortable/sortable.html.twig' %}
            </div>
        </div>
        <div class="col-sm-3">
            {% form_theme form '@WucdbmMenuBuilderClient/_shared/form/form_theme.html.twig' %}
            {{ form_start(form) }}
            {{ form_rest(form) }}
            <div class="form-group">
                <button type="submit" class="btn btn-primary">
                    Save
                </button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}

{% block scripts %}
    function initSortable() {
        var group = $('.sortable-root').sortable({
            placeholder: $('<li class="placeholder"/>').text('Item will be placed here'),
            onDrop: function ($item, container, _super) {
                $(container.el).removeClass('hover');

                var order = group.sortable("serialize").get();

                $.ajax({
                    url: '{{ path('wucdbm_menu_builder_client_menu_sortable_update', {id: menu.id}) }}',
                    type: 'POST',
                    data: {
                        order: order
                    },
                    dataType: 'json'
                }).done(function(data) {
                    $.witter(data.witter);
                    {#$('#menuContainer').trigger('refresh');#}
                });

                _super($item, container);
            },
            serialize: function ($parent, $children, parentIsContainer) {
                if(parentIsContainer) {
                    return $children;
                }

                return {
                    id: $($parent).data('id'),
                    children: $children
                };
            },
            afterMove: function ($placeholder, container, $closestItemOrContainer) {
                $('.{{ class }}').removeClass('hover');
                $(container.el).addClass('hover');
            }
        });
    }
    $('#menuContainer').on('refreshed', function() {
        initSortable();
        $('.x-editable-text').editable();
    });
    initSortable();
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li>
        {{ menu.name }}
    </li>
    <li>
        Sortable
    </li>
    <li class="pull-right">
        <a href="{{ path('wucdbm_menu_builder_client_menu_item_choose_route', {id: menu.id}) }}" class="ajax-action">
            <i class="fa fa-plus"></i>
            Add Item
        </a>
    </li>
    <li class="pull-right">
        <a href="{{ path('wucdbm_menu_builder_client_menu_remove', {id: menu.id}) }}"
           data-confirm="Should Menu '{{ menu.name }}' be removed?">
            <i class="fa fa-times"></i>
            Remove Menu
        </a>
    </li>
{% endblock %}